.login{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.bi-lock, .svg-icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.svg-icon{
    width: 20px;
}

.btn{
    display: flex;
    margin-left: auto;
}


.login-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.login-left{
    background-color: #C44B3C;
}
.signup-link{
    display: contents;
    text-decoration: underline;
}
.signup-google{
    margin: 25px 0px;
}